body {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 39px;
}
h1 {
    font-weight: 700;
    
}
.expenses {
    margin: auto;
    width: 1000px;
    padding: 67px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 23px;
}
.status {
    color: green;
}
.status_red{
    color: red;
}