body {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 39px;
}
h1 {
    font-weight: 700;
    margin-bottom: 41px;
}
.wrapper{
    width: 1016px;
    padding: 67px;
    margin: auto;
}
.expenses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 43px;
}
.expensesInput{
    width:484px;
}
.moneyInput{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 17px 9px 22px;
    border: 1px solid #000000;
}
.moneyInput__input {
    width: 100%;
    border: none;
    font-size: inherit;
}
.label{
    font-weight: 700;
}
.rub::after{
    content: " руб.";
}
.addButton {
    display: block;
    padding: 10px 110px;
    font-size: inherit;
    color: #ffffff;
    background-color: #0094ff;
    border: none;
}
.stats{
    width: 484px;
}
.stats__total{
    margin-bottom: 35px;
}
ol{
    list-style: decimal;
}

.status {
    color: green;
}
.status_red{
    color: red;
}