body {font-family: 'Inter', sans-serif;}
.expenses {
margin: auto;
width: 700px;
padding: 100px;
display: flex;
flex-direction: column;
gap: 36px;
}
.status {
    color: green;
}
.status_red{
    color: red;
}